<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Belly Button Biodiversity Dashboard</h1>
            <p class="lead">
                Use the interactive charts below to explore the dataset
            </p>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <h2>Select a sample</h2>
                <select id="selDataset" onchange="getData(this.value)"></select>
                <div id="pie"></div>
            </div>
            <div class="col-md-6">
                <h2>Scrubbing frequency</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="bubble"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename = 'charts.js') }}"></script>
</body>
</html>