<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aliens</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="date" placeholder="Date">
                </div>
            </div>
            <div class="col-md-2">
                 <div class="form-group">
                    <input type="text" class="form-control" id="city" placeholder="City">
                </div>   
            </div>
            <div class="col-md-2">
                 <div class="form-group">
                    <input type="text" class="form-control" id="state" placeholder="State">
                </div>   
            </div>
            <div class="col-md-2">
                 <div class="form-group">
                    <input type="text" class="form-control" id="country" placeholder="Country">
                </div>   
            </div>
            <div class="col-md-2">
                 <div class="form-group">
                    <input type="text" class="form-control" id="shape" placeholder="Shape">
                </div>   
            </div>
            <a id="search" class="btn btn-default">Search</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous", id="prev"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next", id="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>datetime</th>
                        <th>city</th>
                        <th>state</th>
                        <th>country</th>
                        <th>shape</th>
                        <th>durationMinutes</th>
                        <th>comments</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
        </div>
  </div>
    <script src="js/data.js" type="text/javascript"></script>
    <script src="js/index.js" type="text/javascript"></script>
</body>
</html>